.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 12px;
}

.xaxisLabel {
		bottom: 500px;
	 	font-weight: bold;
 		right: 220px;
	 	font-size: 22px;
}

.xaxisOldRange {
		bottom: -10px;
	 	font-weight: bold;
 		right: 220px;
	 	font-size: 22px;
}

.xaxisBottom {
		bottom: -30px;
	 	font-weight: bold;
 		right: 220px;
	 	font-size: 22px;
}

.yaxisLabel {
	font-weight: bold;
    top: 80%;
    left: -75px;
    font-size: 22px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform:  rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.tickLabel {
	font-size: 80%
}
#placeholder {
    width: 600px;
    height: 300px;
    padding: 10px 5px 0 0;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.legendLabel {
	font-size: 18px;
}
.legend > div{
	width: 120px;
	height: 22px;
}
.chart-area {
	margin-bottom: 70px;
	margin-left: 50px;
}
.flot-y-axis {
	left: -35px !important;
}
